.chat-div {
    @include flex($col: true);
    align-items: initial;

    .no-conversation {
        @include flex();
        height: 100%;
        font-size: 2rem;
    }
}

.chat-div-header {
    @include flex($pos: space-between, $gap: 2rem);
    padding: 0 20px;
    height: 10%;
    background: $primary-color;
    color: white;

    .conversation-wrapper {
        @include flex($pos: flex-start, $gap: 1rem);
        flex-grow: 1;
        height: 100%;

        .conversation-name-wrapper {
            @include flex($col: true);
            align-items: flex-start;

            .conversation-name {
                font-size: 1.4rem;
                font-weight: 500;
            }

            .user-active {
                font-size: 0.8rem;
            }
        }
    }

    .user {
        @include flex;
        height: 65%;
        aspect-ratio: 1;
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;

        .user-img {
            font-size: 2.2rem;
            color: white;
            transform: translateY(0.4rem);
        }
    }

    .actions {
        @include flex;

        &>svg {
            font-size: 1.5rem;
            cursor: pointer;
            color: white;
        }
    }
}

.chat-div-body {
    @include flex($pos: null, $gap: 0.5rem, $col: true);
    height: calc(100% - 20%);
    padding: 1.5rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background: $secondary-color;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary-color;
        border-radius: 100vh;
    }

    .message {
        align-self: flex-start;
        max-width: 40%;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background: $selection-color;
        word-break: break-all;
        white-space: normal;

        &.your-message {
            background: $secondary-color;
            align-self: flex-end;
        }

    }
}

.chat-div-footer {
    @include flex($gap: 1.5rem);
    height: 10%;
    background: $primary-color;

    input {
        height: 60%;
        width: 80%;
        padding: 0 1.5rem;
        font-size: 1.2rem;
        border: none;
        border-radius: 100vw;
        outline: none;

        &:not(:placeholder-shown)+.send-btn {
            color: white;
            cursor: pointer;
            pointer-events: auto;
        }
    }

    .send-btn {
        font-size: 1.5rem;
        color: $secondary-color;
        pointer-events: none;
    }
}