.btn {
    background: $primary-color;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    letter-spacing: 0.6px;

    &.btn-border {
        background: white;
        border: 1px solid $primary-color;
        color: $primary-color
    }
}
