.sidebar-div {
    position: relative;

    .user {
        @include flex;
        height: 65%;
        aspect-ratio: 1;
        background-color: #ccc;
        border: 1px solid #ccc;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;

        .user-img {
            font-size: 2.2rem;
            color: white;
            transform: translateY(0.4rem);
        }
    }
}

.sidebar-header {
    @include flex(space-between);
    height: 10%;
    padding: 0px 20px;
    background: $primary-color;

    .actions {
        @include flex($gap: 1.5rem);

        &>svg {
            font-size: 1.5rem;
            cursor: pointer;
            color: white;
        }
    }

}

.sidebar-body {
    position: relative;
    @include flex($pos: null, $col: true);
    height: calc(100% - 10%);
    background: white;
    overflow-x: hidden;
    overflow-y: auto;

    &>div {
        @include flex($gap: 0.5rem);
        height: 13%;
        width: 100%;
        padding: 0 20px;
        border-bottom: 2px solid $primary-color;
        cursor: pointer;
    }

    .user-wrapper {
        min-width: 53px;

        .user-img {
            font-size: 2.4rem;
            transform: translateY(0.5rem);
        }
    }

    .chat-wrapper {
        max-width: 410px;
    }

    .conversation-name-wrapper {
        @include flex(space-between);
        align-items: baseline;
        margin-bottom: 0.25rem;

        .conversation-name {
            font-size: 1.3rem;
            font-weight: 400;
        }

        .conversation-time {
            font-size: 0.85rem;
        }
    }

    .recent-chat-wrapper {
        @include flex(space-between, 0.5rem);

        .recent-chat {
            white-space: nowrap;
            max-width: calc(500px - 120px);
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 0.9rem;
        }

        .messages-number {
            @include flex;
            height: 1.4rem;
            // width: 1.4rem;
            padding: 0.25rem 0.5rem;
            background: $primary-color;
            border-radius: 100vw;
            color: white;
            font-size: 0.8rem;
            font-weight: bold;
        }
    }

    .no-conversations {
        @include flex($gap: 1rem, $col: true);
        height: 100%;
        border-bottom: none;
        cursor: auto;
        font-size: 1.5rem;

        .btn {
            border-radius: 100vw;
        }
    }

    /*
    &::before {
        content: "";
        position: absolute;
        height: 300px;
        aspect-ratio: 1;
        border-radius: 100%;
        top: 50px;
        left: 0;
        transform: translate(-20%, -50%);
        background: rgb(185, 187, 252);
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        height: 400px;
        aspect-ratio: 1;
        border-radius: 100%;
        bottom: 50px;
        right: 0;
        transform: translate(20%, 10%);
        background: rgb(182, 200, 248);
        z-index: -1;
    }
    */
}

.sidebar-div .add-conversation-div {
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    transition: 0.4s ease-in-out;
    
    &.show {
        transform: translateX(0);
        box-shadow: 5px 0 10px #ccc;
    }

    .actions span {
        font-size: 1.4rem;
        color: white;
    }
}